
SKIP_ENV_VALIDATION=false
# Added by Payload
DATABASE_URI=postgresql://username:password@host:port/database
PAYLOAD_SECRET=your_payload_secret
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
CRON_SECRET=your_cron_secret

S3_BUCKET=your_bucket_name
S3_ACCESS_KEY_ID=your_access_key_id
S3_SECRET_ACCESS_KEY=your_secret_access_key
S3_REGION=your_s3_region
S3_ENDPOINT=your_s3_endpoint
RESEND_API_KEY=your_resend_api_key

PAYOS_CLIENT_KEY=your_payos_client_key
PAYOS_API_KEY=your_payos_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key
PAYOS_WEBHOOK_URL=your_payos_webhook_url
PAYOS_CANCEL_URL=your_payos_cancel_url
PAYOS_RETURN_URL=your_payos_return_url

NEXT_PUBLIC_CHATWOOT_WEBSITE_TOKEN=your_chatwoot_website_token
NEXT_PUBLIC_CHATWOOT_BASE_URL=your_chatwoot_base_url
